body {
    text-align: center;
}

h1,
h2 {
    color: #0099ff;
}

#container {
    margin: auto;
    width: 75%;
}

img {
    border: 4px solid #0099ff;
    width: 100%;
    height: auto;
}

figcaption {
    text-align: left;
}

button {
    background-color: #0099ff;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    margin-bottom: 50px;
}

p {
    font-size: 1.2em;
    text-align: left;
}
